In [1]:
import pymongo as pg

# Establishing the connection
connection = pg.MongoClient('mongodb://Sukumar:Sukumar1234@ac-pmffdzv-shard-00-00.pbl8eyl.mongodb.net:27017,ac-pmffdzv-shard-00-01.pbl8eyl.mongodb.net:27017,ac-pmffdzv-shard-00-02.pbl8eyl.mongodb.net:27017/?ssl=true&replicaSet=atlas-779tav-shard-0&authSource=admin&retryWrites=true&w=majority')

In [2]:
connection.test

Database(MongoClient(host=['ac-pmffdzv-shard-00-00.pbl8eyl.mongodb.net:27017', 'ac-pmffdzv-shard-00-01.pbl8eyl.mongodb.net:27017', 'ac-pmffdzv-shard-00-02.pbl8eyl.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-779tav-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'test')

In [3]:
connection.list_database_names()

['School_data',
 'Test',
 'Youtube_Database',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'student_details',
 'sukumar',
 'admin',
 'local']

In [4]:
db = connection['sample_airbnb']

In [5]:
db.list_collection_names()

['listingsAndReviews']

In [6]:
col = db['listingsAndReviews']

In [7]:
# Extracting the Data

data = col.find()

data_list = []

for i in data:
    id = i['_id']
    url = i['listing_url']
    name = i['name']
    description = i['description']
    host_id  = i['host']['host_id']
    host_name = i['host']['host_name']
    neighborhood_overview = i['neighborhood_overview']
    location = i['address']['location']['coordinates']
    country = i['address']['country']
    city = i['address']['market']
    price = i['price']
    availability_30 = i['availability']['availability_30']
    availability_60 = i['availability']['availability_60']
    availability_90 = i['availability']['availability_90']
    availability_365 = i['availability']['availability_365']
    amenities = i['amenities']
    review_scores_value = i.get('review_scores', {}).get('review_scores_value', None)
    no_of_reviews = i['number_of_reviews']
    
    row_data = [id,url,name,description,host_id,host_name,neighborhood_overview,location,country,city,price,availability_30,availability_60,availability_90,availability_365,amenities,no_of_reviews,review_scores_value]
    data_list.append(row_data)

In [16]:
import pandas as pd

df = pd.DataFrame(data_list,columns = ['id','url','name','description','host_id','host_name','neighborhood_overview','location','country','city','price','availability_30','availability_60','availability_90','availability_365','amenities','no_of_reviews','review_score'])

##### **Preprocessing Data**

In [10]:
df['latitude'] = df['location'].apply(lambda x:x[1])
df['longitude'] = df['location'].apply(lambda x:x[0])

In [11]:
df.drop('location',axis = 1,inplace=True)

In [12]:
df.head()

,id,url,name,description,host_id,host_name,neighborhood_overview,country,city,price,availability_30,availability_60,availability_90,availability_365,amenities,no_of_reviews,review_score,latitude,longitude
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,51399391,Ana&Gon√ßalo,"In the neighborhood of the river, you can find...",Portugal,Porto,80.00,28,47,74,239,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",51,9.0,41.141300,-8.613080
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,1282196,Ynaie,This charming ground floor flat is located in ...,Brazil,Rio De Janeiro,317.00,0,0,0,0,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",0,NaN,-22.966254,-43.230750
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,5448114,David,You can breath ocean as well as aloha.,United States,Oahu,115.00,16,46,76,343,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",96,9.0,21.286340,-157.839190
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,11275734,Josh,,United States,New York,40.00,0,0,0,0,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",1,8.0,40.697910,-73.936150
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,51496939,Livia,,Brazil,Rio De Janeiro,701.00,28,58,88,363,"[TV, Cable TV, Internet, Wifi, Air conditionin...",0,NaN,-22.971951,-43.205047

In [ ]:
df.to_csv('Extracted_data.csv',index = False)

In [18]:
data = pd.read_csv('Extracted_data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     5555 non-null   int64
 1   url                    5555 non-null   object
 2   name                   5547 non-null   object
 3   description            5460 non-null   object
 4   host_id                5555 non-null   int64
 5   host_name              5555 non-null   object
 6   neighborhood_overview  3314 non-null   object
 7   country                5555 non-null   object
 8   city                   5549 non-null   object
 9   price                  5555 non-null   float64
 10  availability_30        5555 non-null   int64
 11  availability_60        5555 non-null   int64
 12  availability_90        5555 non-null   int64
 13  availability_365       5555 non-null   int64
 14  amenities              5555 non-null   object
 15  no_of_reviews          5555 non-null   int64
 16  review_score           4080 non-null   float64
 17  latitude               5555 non-null   float64
 18  longitude              5555 non-null   float64
dtypes: float64(4), int64(7), object(8)
memory usage: 824.7+ KB

In [19]:
data.shape

(5555, 19)

In [20]:
# Checking for null values
data.isnull().sum()

id                          0
url                         0
name                        8
description                95
host_id                     0
host_name                   0
neighborhood_overview    2241
country                     0
city                        6
price                       0
availability_30             0
availability_60             0
availability_90             0
availability_365            0
amenities                   0
no_of_reviews               0
review_score             1475
latitude                    0
longitude                   0
dtype: int64

In [21]:
# Dropping the neighborhood overview column
data.drop('neighborhood_overview',axis = 1,inplace = True)

In [22]:
# Dropping the null values
data.dropna(inplace = True)

In [23]:
data.isnull().sum()

id                  0
url                 0
name                0
description         0
host_id             0
host_name           0
country             0
city                0
price               0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
amenities           0
no_of_reviews       0
review_score        0
latitude            0
longitude           0
dtype: int64

In [26]:
data.reset_index(drop=True, inplace = True)

In [27]:
data.head()

,id,url,name,description,host_id,host_name,country,city,price,availability_30,availability_60,availability_90,availability_365,amenities,no_of_reviews,review_score,latitude,longitude
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,51399391,Ana&Gon√ßalo,Portugal,Porto,80.0,28,47,74,239,"['TV', 'Cable TV', 'Wifi', 'Kitchen', 'Paid pa...",51,9.0,41.141300,-8.613080
1,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,5448114,David,United States,Oahu,115.0,16,46,76,343,"['TV', 'Cable TV', 'Wifi', 'Air conditioning',...",96,9.0,21.286340,-157.839190
2,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,11275734,Josh,United States,New York,40.0,0,0,0,0,"['Internet', 'Wifi', 'Air conditioning', 'Kitc...",1,8.0,40.697910,-73.936150
3,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",454250,Greta,United States,New York,135.0,0,0,0,93,"['Internet', 'Wifi', 'Air conditioning', 'Kitc...",70,10.0,40.799620,-73.965230
4,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...",51530266,Ana Val√©ria,Brazil,Rio De Janeiro,119.0,7,19,33,118,"['TV', 'Cable TV', 'Internet', 'Wifi', 'Air co...",70,10.0,-22.984339,-43.190849

In [28]:
# Checking for duplicated rows
data.duplicated().sum()

0

In [29]:
# Exporting the data
data.to_csv('airbnb_dataset.csv')